body{
    background-image: url("photo4.jpg") ; background-repeat: no-repeat;background-size: 100%;
}

body{
    font-family: Arial,  sans-serif;
    padding: 0 3 ;
    text-align:center;
}


.button {
 background-color:rgb(230, 196, 169);
 border: none;
 color: #e76868;
 padding: 0px 20px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: -1000px 60px;
 cursor: pointer;
 }


.button1 {
    background-color: rgb(230, 196, 169);
    color: black;
    border: 2px solid rgb(230, 196, 169);
  }
  .button1:hover {background-color: #df8484;}


  .button2{
    background-color: rgb(230, 196, 169);
    color: black;
    border: 2px solid rgb(230, 196, 169);
  }
  .button2:hover {background-color: #df8484;}


  .button3 {
    background-color: rgb(230, 196, 169);
    color: black;
    border: 2px solid rgb(230, 196, 169);
  }
  .button3:hover {background-color: #df8484;}






















;
























  
  
  
  

  
  
  
  


  
  
  
  
  
  
  
  
  

  
  
  
  
  






























 

    











































